In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=4b642ad81f3517afd27157e337288c1c70ac83c47ca4eb48bf76faf42e1d8067
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
# creating a SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("RoshanAssesment").getOrCreate()

In [6]:
#reading the Titanic dataset CSV file
df = spark.read.csv("titanic.csv", header = True)

In [16]:
#creating table for sql
df.createOrReplaceTempView("titanic_table")

In [7]:
# checking the schema and showing the data
df.printSchema()
df.show()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [8]:
#A.How many people survive and how many people dead
# counting the number of survivors and deaths
survived_count = df.filter(df.Survived == 1).count()
died_count = df.filter(df.Survived == 0).count()

In [10]:
# printing the results
print("The people, those survives:", survived_count)
print("Deaths Count:", died_count)

The people, those survives: 342
Deaths Count: 549

In [ ]:
#For SQL

In [32]:
# counting the number of survivors
survivors = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 1").collect()[0][0]
print(f"The people, those survives: {survivors}")

The people, those survives: 342

In [33]:
# counting the number of deaths
deaths = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 0").collect()[0][0]
print(f"Deaths Count: {deaths}")

Deaths Count: 549

In [12]:
#B.How many people survive how does not have sibling
#count the number of survivors that does not have siblings
from pyspark.sql.functions import col
survived_without_siblings_count = df.filter((df.Survived == 1) & (col("SibSp") == 0)).count()

In [13]:
# printing the result
print("People who survives and does not have siblings:", survived_without_siblings_count)

People who survives and does not have siblings: 210

In [ ]:
#For SQL

In [34]:
survivors_without_siblings_count = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 1 AND SibSp = 0").collect()[0][0]

In [35]:
print(f"People who survives and does not have siblings: {survivors_without_siblings_count}")

People who survives and does not have siblings: 210

In [14]:
#C.How many people died Who does not have sibling
#count the number of death that does not have siblings
from pyspark.sql.functions import col
died_without_siblings_count = df.filter((df.Survived == 0) & (col("SibSp") == 0)).count()

In [15]:
# printing the result
print("People who died and does not have siblings:", died_without_siblings_count)

People who died and does not have siblings: 398

In [ ]:
#for SQL

In [36]:
died_without_siblings_count = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 0 AND SibSp = 0").collect()[0][0]

In [37]:
print(f"People who died and does not have siblings: {died_without_siblings_count}")

People who died and does not have siblings: 398

In [17]:
#D.Remove the NAN data from cabin and display updated list
# droping rows with NaN in the Cabin column
df_without_nan_cabin = df.na.drop(subset=["Cabin"])

In [18]:
# displaying the updated list
df_without_nan_cabin.show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|  34|    0|    0|     248698|      13|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|  28|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|  19|    3|    2|      19950|     263|C23 C25 C27|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|   PC 17569|146.5208|        B78|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|  49|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|  65|    0|    1|     113509| 61.9792|        B30|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|      19947|    35.5|        C52|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|  38|    0|    0|     113572|      80|        B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male|  45|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|  29|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|  25|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|  23|    3|    2|      19950|     263|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|  46|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|  71|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|  23|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [29]:
#For SQL
df_filtered = spark.sql("SELECT * FROM titanic_table WHERE cabin IS NOT NULL")

In [30]:
# displaying the updated list
df_filtered.show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|  34|    0|    0|     248698|      13|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|  28|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|  19|    3|    2|      19950|     263|C23 C25 C27|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|   PC 17569|146.5208|        B78|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|  49|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|  65|    0|    1|     113509| 61.9792|        B30|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|      19947|    35.5|        C52|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|  38|    0|    0|     113572|      80|        B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male|  45|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|  29|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|  25|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|  23|    3|    2|      19950|     263|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|  46|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|  71|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|  23|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [21]:
#E.How many male who died and how many female died?
#For Male
from pyspark.sql.functions import count
male_deaths = df.filter((df['Survived'] == 0) & (df['Sex'] == 'male')).agg(count('*')).collect()[0][0]

In [22]:
# printing the results
print("Male deaths:", male_deaths)

Male deaths: 468

In [25]:
#For Female
from pyspark.sql.functions import count
female_deaths = df.filter((df['Survived'] == 0) & (df['Sex'] == 'female')).agg(count('*')).collect()[0][0]

In [26]:
print("Female deaths:", female_deaths)

Female deaths: 81

In [27]:
#For SQL
# For Male Deaths
male_deaths = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 0 AND Sex = 'male'").collect()[0][0]
print(f"The number of male deaths: {male_deaths}")

The number of male deaths: 468

In [28]:
# For Female Deaths
female_deaths = spark.sql("SELECT COUNT(*) FROM titanic_table WHERE Survived = 0 AND Sex = 'female'").collect()[0][0]
print(f"The number of female deaths: {female_deaths}")

The number of female deaths: 81